backcall==0.2.0
certifi==2020.12.5
chardet==4.0.0
ConnPlotter==0.7a0
cycler==0.10.0
decorator==4.4.2
dill==0.3.3
et-xmlfile==1.0.1
gitdb==4.0.5
GitPython==3.1.14
idna==2.10
ipython==7.21.0
ipython-genutils==0.2.0
jdcal==1.4.1
jedi==0.18.0
jellyfish==0.8.2
jsonpickle==2.0.0
kiwisolver==1.3.1
line-profiler==3.1.0
llvmlite==0.35.0
matplotlib==3.3.4
memory-profiler==0.58.0
multiprocess==0.70.11.1
numba==0.52.0
numpy==1.20.1
openpyexcel==2.5.14
pandas==1.2.3
parso==0.8.1
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.2
prompt-toolkit==3.0.16
psutil==5.8.0
ptyprocess==0.7.0
Pygments==2.8.1
PyNEST==2.16.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
scipy==1.6.1
sciris==1.0.2
six==1.15.0
smmap==3.0.5
statsmodels==0.12.2
Topology==2.16.0
traitlets==5.0.5
urllib3==1.26.4
wcwidth==0.2.5
xlrd==1.2.0
XlsxWriter==1.3.7