body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
html, body {
    height: 100%;
}
#app {
    display: grid;
    height: 100%;
    /*  Single column layout */
    grid-template-columns: 100%;
    /* Removes need to add weird margin rules in view styles */
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
            "header"
            "content"
            "footer";
}
#app > header {
    grid-area: header;
}

.navbar-brand {
    font-size: 2.2rem;
}

#app > footer {
    grid-area: footer;
}
#app > .content{
    grid-area: content;
    margin: 1em 0;
}

#parameters {
    width: 47rem;
    min-width: 26rem;
    top: 4.9rem;
    bottom: 3.5rem;
    height: auto !important;
}

#resize-handle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1rem;
    margin-right: -.5rem;
    cursor: col-resize;
}

fieldset > legend {
    border-bottom: 1px gainsboro solid;
}

header.row, footer.row {
    display: block;
}

.row.history {
    margin-bottom: 1em;
}

.btn-run {
    width: 8em;
}

.green {
    background-color: #627F43;
    border-color: #627F43;
}

.green:hover, .green:disabled {
    background-color: #637f48;
    border-color: #637f48;
}

.blueish {
    background-color: #56779F;
    border-color: #56779F;
}

.blueish:hover, .blueish:disabled {
    background-color: rgba(99, 123, 158, 0.92);
    border-color: rgba(99, 123, 158, 0.92);
}

.centered {
    text-align: center;
}

.errorbox {
    background-color: #ffcaa2;
    padding: 10px;
}

.card-header .btn {
    text-align: left;
    margin: -.75rem -1.25rem;
    width: calc(100% + 2.5rem);
}

/* Tooltip container */
.mytooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.mytooltip .mytooltiptext {
    visibility: hidden;
    background-color: #08f;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
    width: 300px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.mytooltip:hover .mytooltiptext {
    visibility: visible;
}
