<!DOCTYPE html>
<html lang="en">


<!-- HEADER -->
<head>
  <!-- Bootstrap boilerplate -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
  <link type="text/css" rel="stylesheet" href="assets/themify-icons.css"/>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>
  <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <!-- Avenir is not available -->

  <!-- Customization -->
  <title>Covasim</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo="> <!-- Remove favicon.ico 404 -->
  <script src="assets/sciris-js.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="http://cdn.jsdelivr.net/g/filesaver.js"></script>

  <!-- Define styles -->
  <link rel="stylesheet" href="cova_app.css" type="text/css">
</head>


<!-- BODY -->
<body>

<section id="app" class="container-fluid">
  <header class="row no-gutter">
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Covasim</a>
      <button type="button" class="btn text-white" data-toggle="modal" data-target="#exampleModal">
        COVID-19 agent-based simulator
      </button>
      <span class="navbar-text"><a href="https://github.com/institutefordiseasemodeling/covasim" target="_blank">{{ version }}</a></span>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">About Covasim</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Covasim is an agent-based model that simulates the transmission of COVID-19 (novel coronavirus, SARS-CoV-2) in a population. Each individual in the model may pass through the following stages of COVID-19 infection: susceptible, exposed, infectious, and recovered (SEIR). The epidemiological parameter values are taken from literature.</p>

            <p>Viral transmission occurs on a fixed contact network with undirected edges. Each day, infectious individuals expose susceptible individuals in neighboring nodes to possible infection. By default, the daily probability of infection, number of contacts, and mean duration of infectiousness roughly equates to R0 = 2.05 and a doubling time of 6-7 days. For more information, please visit the <a href="https://github.com/institutefordiseasemodeling/covasim" target="_blank">GitHub</a> repository.</p>

            <p>Note: Models are only as good as the values of the parameters put into them. This is a rapidly changing situation, and we will update content as relevant information is received.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </header>

  <div class="content row">

    <div id="parameters" class="col-sm">

      <div class="row">

        <fieldset class="col-md-6">
          <legend>Simulation parameters</legend>
          <div v-for="(par, key) in sim_pars" class="form-group">
            <div :id="key+'-wpr'">
              <label :for="key">{{par.name}}:</label>
              <input :id="key" :disabled="running" class="form-control" v-model="par.best">
              <span aria-live="assertive" v-if="paramError[key]" class="text-danger form-error">{{paramError[key]}}</span>
            </div>
            <b-tooltip :target="key+'-wpr'">
              {{par.tip}}
            </b-tooltip>
          </div>
        </fieldset>
        <fieldset class="col-md-6">
          <legend>Epidemiological parameters</legend>
          <div v-for="(par, key) in epi_pars" class="form-group">
            <div :id="key+'-wpr'">
              <label :for="key">{{par.name}}:</label>
              <input :id="key" :disabled="running" class="form-control" v-model="par.best">
              <span aria-live="assertive" v-if="paramError[key]" class="text-danger form-error">{{paramError[key]}}</span>
            </div>
            <b-tooltip :target="key+'-wpr'">
              {{par.tip}}
            </b-tooltip>
          </div>
        </fieldset>

      </div>

      <!-- Run button -->
      <div class="d-flex align-items-center flex-wrap">
        <button v-if="running" class="btn btn-primary btn-lg btn-run green" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Running...
        </button>
        <button v-else id="run_btn" :disabled="isRunDisabled" class="btn btn-primary btn-lg btn-run green" type="button" @click="runSim">
          Run
        </button>
        <button id="reset_btn" :disabled="running" class="btn btn-primary btn-lg ml-2 mr-2 blueish" type="button" @click="resetPars">
          Reset
        </button>
        <b-tooltip target="reset_btn">
          Reset parameters to default values
        </b-tooltip>

        <select :disabled="running" id="examples" v-model="reset_choice" @change="resetPars()" class="mr-2" aria-label="Example Presets">
          <option v-for="(item, index) in reset_options" :value="item">
            {{ item }}
          </option>
        </select>
        <b-tooltip target="examples">
          Example parameter configurations
        </b-tooltip>

        <button id="download-parameters-button" :disabled="running" class="btn btn-primary mr-2 blueish" type="button" @click="downloadPars">
          <span class="ti-download"/>
          <span class="sr-only"> Download parameters </span>
        </button>
        <b-tooltip target="download-parameters-button">
          Download parameters
        </b-tooltip>

        <button id="upload-parameters-button" :disabled="running" class="btn btn-primary mr-2 blueish" type="button" @click="uploadPars">
          <span class="ti-upload"/>
          <span class="sr-only"> Upload parameters </span>
        </button>
        <b-tooltip target="upload-parameters-button">
          Upload parameters
        </b-tooltip>

        <div id="history">
          <select :disabled="running" v-model="historyIdx" @change="loadPars" class="form-control form-control-sm" aria-label="Run history">
            <option v-for="(item, index) in history" :value="index">
              {{ index }}
            </option>
          </select>
        </div>
        <b-tooltip target="history">
          History of parameters used in this session
        </b-tooltip>
      </div>

      <label>
         <input type="checkbox" v-model="show_animation" />Render animation
      </label>



      <div v-if="err" class="errorbox">
        <p>During the simulation, the following warning(s) were encountered:</p>
        <p>{{ err }}</p>
      </div>

    </div>

    <!-- Show the actual graph -->
    <div id="graphs" class="graphs col-sm">
      <fieldset>
        <legend>Results</legend>
        <!--           <template v-if="running">
                    <p><i>Please wait, running model...</i></p>
                    <b-spinner />
                  </template> -->
        <template v-if="result.graphs.length === 0">
          <p><i>Click "Run" to display graphs</i></p>
        </template>
        <template v-else>

          <div class="chart-frame">
            <div>
              <plotly-chart v-for="x in result.graphs" :graph="x" :key="x.id"/>
            </div>

            <!-- <b>After {{ result.summary.days }} days: {{ result.summary.cases }} cases, {{ result.summary.deaths }} deaths</b> -->

            <div class="text-center">
              <button id="download_xlsx" class="btn btn-primary blueish" type="button" @click="downloadExcel">
                <span class="sr-only">Download</span> XLSX <span class="ti-download"/>
              </button>
              <button id="download_json" class="btn btn-primary blueish" type="button" @click="downloadJson">
                <span class="sr-only">Download</span> JSON <span class="ti-download"/>
              </button>
              <b-tooltip target="download_xlsx">
                Download results as an XLSX file
              </b-tooltip>
              <b-tooltip target="download_json">
                Download results as a JSON file
              </b-tooltip>
            </div>

          </div>

        </template>

      </fieldset>
    </div>
  </div>

  <footer class="row no-gutter">
    <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-text text-white">
              &copy; 2020 <a href="http://idmod.org" target="_blank">Institute for Disease Modeling</a>
            </span>
      <a href="https://github.com/institutefordiseasemodeling/covasim" target="_blank" class="navbar-text">
        <span class="sr-only">View this project on GitHub</span>
        <svg height="16" viewBox="0 0 16 16" version="1.1" width="20" aria-hidden="true">
          <path fill-rule="evenodd" fill="currentColor"
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
        </svg>
      </a>

    </nav>
  </footer>
</section>
</body>


<!-- SCRIPTS -->
<script src="cova_app.js" type="text/javascript"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>
