pandoc
pypandoc
sphinx
sphinx-autodoc-typehints
pydata-sphinx-theme
sphinx-design
ipykernel # For tutorials
nbsphinx # For tutorials
plantweb
ipykernel
nbsphinx
optuna
seaborn
readthedocs-sphinx-search
